// Fonts

@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');
@import url('https://watchout.tw/fonts/century/styles.css');
@import url('https://watchout.tw/fonts/circular-pro/styles.css');
@import url('https://watchout.tw/fonts/noto-serif-patch/styles.css');
@import url('https://watchout.tw/try-try-fonts/sf-pro-text/stylesheet.css');

// Bootstrap partial import

@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/normalize';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/card';

// General override

html, body {
  font-family: $font-sans-serif;
  font-size: 16px;
}
button, input, optgroup, select, textarea {
  font-family: $font-sans-serif;
  &:focus {
    outline: none;
  }
}

// Small element
h1, h2, h3, h4, h5 {
  @include font-serif;
  @include font-smoothing;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
h1, h2 {
  line-height: 1.25;
}
h1 {
  font-size: 3rem;
  &.super {
    font-size: 6rem;
  }
  &.small {
    font-size: 2rem;
    font-weight: bold;
  }
  &.sit {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 0.5rem;
  }
}
h2 {
  font-size: 2.25rem;
  &.small {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
hgroup > h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.875rem;
  &.small {
    font-size: 1.25rem;
    font-weight: bold;
  }
}
h4 {
  font-size: 1.5rem;
  &.small {
    font-size: 1.125rem;
    font-weight: bold;
  }
}
h5 {
  font-size: 1.125rem;
  &.small {
    font-size: 1rem;
    font-weight: bold;
  }
}
code {
  @include font-monospace;
  padding: 0 2px;
  color: $color-code;
  background: $color-code-background;
}
label {
  margin: 0;
}
img {
  display: block;
}

a, a:hover, a:focus, a:active, a:visited {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
a.a-text,
.a-text-only a {
  display: inline;
  @include underline(0.5);

  &:hover, &:focus, &:active {
    @include underline(1.0);
  }
}
a.a-block {
  display: block;
  & .a-target {
    @include underline(0.5);
  }
  &:hover, &:focus, &:active {
    .a-target {
      @include underline(1.0);
    }
  }
}
p.note {
  font-size: 0.85rem;
}

.close {
  float: none;
  display: block;
  position: absolute;
  top: -0.25rem;
  right: 0.25rem;
  opacity: 0.5;
  font-size: 2rem;
  line-height: 1;
  border-bottom-width: 4px;
  font-weight: 200;
  text-shadow: none;
  cursor: pointer;

  &:before {
    content: '×';
  }
  &:hover, &:focus, &:active {
    opacity: 1;
  }

  &.white {
    &, &:hover, &:focus, &:active {
      color: white;
    }
  }
  &.small {
    font-size: 1.5rem;
    font-weight: 300;
  }
}

// List
.list-unstyled {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

// Navbar
.navbar,
.navbar-brand {
  margin: 0;
  padding: 0;
}

// Form
// with extra condition to avoid Element.io input components
input[type='text']:not([class^="el"]),
input[type='email']:not([class^="el"]),
input[type='password']:not([class^="el"]) {
  background: none;
  border: none;
  border-radius: 0;
  border-bottom: 2px $color-border-grey solid;
  line-height: 1.75;
  padding: 0;
  margin: 0;

  &.full-width {
    width: 100%;
  }
}
button:not([class^="el"]):not(.btn-prev):not(.btn-next) { // btn-prev btn-next in el-pagination
  background: $color-generic-grey;
  border: 2px $color-border-grey solid;
  border-radius: 2px;
  line-height: 1;
  padding: 0.75rem;
  cursor: pointer;

  &.small {
    font-size: 0.875rem;
    padding: 0.5rem;
  }
  &.musou {
    background: $color-musou;
    border-color: $color-musou-darker;
  }
  &.park {
    background: $color-park;
    border-color: $color-park-darker;
  }
  &.lab {
    background: $color-lab;
    border-color: $color-lab-darker;
  }
  &.floating {
    @include shadow-minimum;
    &:hover {
      @include shadow;
    }
  }
  &.soft {
    border: none;
    border-radius: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    line-height: 1;
    color: black;

    &.park {
      background: rgba($color-park, 0.65);
    }
  }
}
input:not(.full-width) + button:not([class^="el"]) {
  margin-left: 0.5rem;
}
.field {
  margin: 0.5rem 0;
  &:first-of-type {
    margin: 0 0 0.5rem;
  }
  &:last-of-type {
    margin: 0.5rem 0 0;
  }
}

// Checkbox
input[type='checkbox']:not([class^="el"]) {
  -webkit-appearance: none;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  -webkit-transition: .15s;
  background-color: rgba($color-generic-grey, 0.25);
  border: 2px $color-border-grey solid;
  border-radius: 2px;

  &.musou {
    background-color: rgba($color-musou, 0.25);
    border-color: $color-musou;
  }
  &.park {
    background-color: rgba($color-park, 0.25);
    border-color: $color-park;
  }

  &:checked {
    background-color: $color-generic-grey;
    &:before {
      @include checkmark(8px, black)
    }
    &.musou {
      background-color: $color-musou;
    }
    &.park {
      background-color: $color-park;
    }
  }
}

// Checkbox + label
.form-check-label {
  > * {
    vertical-align: middle;
  }
  > input + span {
    margin-left: 0.25rem;
  }
}

// Accordion
.accordion {
  > .card {
    background: none;
    border: none;
    border-radius: 0;
    padding: 0 1rem;
    > .card-head {
      padding: 0.75rem 0;
    }
    > .card-body {
      > .padding {
        padding-bottom: 1rem;
      }
    }
  }
}

// Modal
.modal-mask {
  display: table;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-modal-mask;
  transition: opacity .3s ease;

  > .modal-wrapper {
    display: table-cell;
    vertical-align: middle;

    > .modal-dialog {
      box-sizing: border-box;
      width: 18rem;
      margin: 0 auto;
      @include shadow;
      transition: all .3s ease;
    }
  }

  &.more-transparent {
    background: $color-modal-mask-more-transparent;
    > .modal-wrapper > .modal-dialog {
      background: $color-modal-mask;
    }
  }
  &.wide {
    @include bp-sm-up {
      > .modal-wrapper > .modal-dialog {
        width: auto;
        min-width: 18rem;
        max-width: 36rem;
      }
    }
  }

}

// Vue transition effect
.modal-enter {
  opacity: 0;
  .modal-dialog {
    @include transform(scale(1.1));
  }
}
.modal-leave-active {
  opacity: 0;
  .modal-dialog {
    @include transform(scale(1.1));
  }
}

// Watchout Commons-specific additional styles
// following Bootstrap convention

.text-color-park {
  color: $color-park;
}

// Background color
.bg-watchout {
  background-color: $color-watchout;
}
.bg-watchout-ninetyfive {
  background-color: rgba($color-watchout, 0.95);
}
.bg-park {
  background-color: $color-park;
}
.bg-park-light {
  background-color: rgba($color-park, 0.25);
}
.bg-park-light-opaque {
  background-color: $color-park-light;
}
.bg-kangsim {
  background-color: $color-kangsim;
}
.bg-kangsim-light {
  background-color: rgba($color-kangsim, 0.25);
}
.bg-lab {
  background-color: $color-lab;
}
.bg-lab-ninetyfive {
  background-color: rgba($color-lab, 0.95);
}
.bg-lab-light {
  background-color: rgba($color-lab, 0.25);
}
.bg-lab-light-opaque {
  background-color: $color-lab-light;
}
.bg-console {
  background-color: $color-console;
}
.bg-console-light {
  background-color: rgba($color-console, 0.25);
}
.bg-ask {
  background-color: $color-ask;
}
.bg-ask-ninetyfive {
  background-color: rgba($color-ask, 0.95);
}
.bg-ask-light {
  background-color: rgba($color-ask, 0.25);
}
.bg-ask-gradient-to-transparent {
  background: linear-gradient(to bottom, rgba($color-ask, 0.25), rgba($color-ask, 0));
}
.bg-musou {
  background-color: $color-musou;
}
.bg-musou-ninetyfive {
  background-color: rgba($color-musou, 0.95);
}
.bg-musou-light {
  background-color: rgba($color-musou, 0.25);
}
.bg-edu {
  background-color: $color-edu;
}
.bg-edu-light {
  background-color: rgba($color-edu, 0.25);
}

// Header
.header-center {
  text-align: center;
}
.header-block {
  margin: 0;
  padding: 0.333333em 0;
}
.header-block-tall {
  padding: 1em 0;
}

// Layout
section {
  width: 100%;
  padding-bottom: 2rem;
}
.container-960 {
  max-width: 960px + 15px*2;
  margin-left: auto;
  margin-right: auto;
}
.max-width-960 {
  max-width: 960px;
}

// Navbar
.logo-type {
  display: block;
  height: auto;
}

// Logo & icon
.logo-small, .icon-small {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center center;
}
.logo-small {
  &.musou {
    background-image: url(https://watchout.tw/asset/logo/musou/small.png);
  }
  &.woo {
    background-image: url(https://watchout.tw/asset/logo/woo/small.png);
  }
}
.icon-small {
  &.transcript {
    background-image: url(https://watchout.tw/asset/icon/transcript/small.png);
  }
}

.pgroup { // FIXME: to be deprecated
  width: 18rem;
}
.pgroup-center {
  margin: 0 auto;
}
.paragraphs {
  // max-width: 18rem;
  margin: 1rem 0;
  &.first {
    margin-top: 0;
  }
  &.last {
    margin-bottom: 0;
  }
  &.small {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  &.tight {
    margin-top: 0;
    margin-bottom: 0;
  }
  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  > p:last-of-type {
    margin-bottom: 0;
  }
}
.buttons {
  > button,
  > a.button-wrapper {
    display: inline-block;
    margin: 0.5rem 0.25rem;
  }
}

// Watchout sepcific elements

.party-flag {
  width: 2rem;
  height: 1.75rem;

  > .flag {
    width: 100%;
    height: 100%;
    display: block;
    border: none;
  	transform: skew(0, -20deg) scale(0.65);
    background: red;
  }
  > .name {
    font-size: 0.65rem;
    color: $color-secondary-text-grey;
  }
}

// ancm (annoucement)
// panel
// marquee
.panel {
  position: relative;
  max-width: 16rem;
  margin: 0 1rem 1rem 0;
  padding: 1rem;
  cursor: pointer;
  @include shadow-minimum;
  &:hover {
    @include shadow;
  }

  > .panel-heading {
    @include font-serif;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  > .panel-action {
    margin-top: 1rem;
    text-align: center;
  }
}
.panel-wrapper-center {
  > .panel {
    margin-left: auto;
    margin-right: auto;
  }
}

.contain-underline-text {
  > span {
    padding-bottom: 2px;
    border-bottom: 2px black solid;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(-100%)
  }
}
.marquee {
  position: relative;
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  overflow: hidden;

  > .content {
    position: absolute;
    display: block;
    width: auto;
    padding-left: 100%;
    white-space: nowrap;
    overflow: visible;
    animation: marquee 8s linear infinite;
  }
}

.ancm-wrapper {
  position: absolute;
  top: $navbar-height;
  left: 0;
  margin-top: 1rem;
  width: 100%;
  z-index: $z-fixed;
}
