// Bootstrap partial import

@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

// Colors

$color-watchout: #50E3C2;
$color-park: #FFB55D;
$color-kangsim: $color-park;
$color-lab: $color-watchout;
$color-console: $color-watchout;
$color-ask: #4DEBDF;
$color-musou: #FF5368;
$color-edu: #B7F661;

$color-park-light: #FFECD6;
$color-lab-light: #D3F8EF;

$color-watchout-darker: #47C9AD;
$color-park-darker: #E6A353;
$color-kangsim-darker: $color-park-darker;
$color-lab-darker: $color-watchout-darker;
$color-console-darker: $color-watchout-darker;
$color-ask-darker: #45D1C5;
$color-musou-darker: #E64C5E;
$color-edu-darker: #A4DB56;

$color-placeholder: rgba(black, 0.65);
$color-shadow: rgba(black, 0.25);
$color-generic-grey: #b9b9b9;
$color-border-grey: #9b9b9b;
$color-secondary-text-grey: #707070;
$color-nice-grey: #4a4a4a;

$color-soil-light: #bd7260;
$color-soil-dark: #8c4533;
$color-soil-deep: #434343;

$color-modal-mask: rgba(white, 0.94);
$color-modal-mask-more-transparent: rgba(white, 0.32);

$color-code: blue;
$color-code-background: rgba(blue, 0.13);

// Typography

$rem: 16px;
$text-size-standard: 1rem;
$text-size-small: 0.875rem;
$font-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;

$line-height-default: 1.5;

// Mixin

@mixin placeholder {
  background-color: $color-placeholder;
  background-size: cover;
  background-position: center center;
}
@mixin font-monospace {
  font-family: "Space Mono", monospace;
}
@mixin font-monospace-serif {
  font-family: "Space Mono", "noto-serif-patch", "source-han-serif-tc", monospace;
}
@mixin font-serif {
  font-family: "century-std", "noto-serif-patch", "source-han-serif-tc", serif;
}
@mixin underline($opacity) {
  border-bottom: 2px rgba($color-watchout, $opacity) solid;
}
@mixin shadow {
  box-shadow: 0 2px 8px 0 $color-shadow;
}
@mixin shadow-minimum {
  box-shadow: 0 1px 4px 0 $color-shadow;
}
@mixin transform($transform) {
  -webkit-transform: $transform;
  transform: $transform;
}
@mixin transform-origin($transform-origin) {
  -webkit-transform-origin: $transform-origin;
  transform-origin: $transform-origin;
}
@mixin font-smoothing() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Bootstrap breakpoint

$bp-xs: 320px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg-alt: 960px;
$bp-lg: 992px;
$bp-xl: 1200px;
@mixin bp-xs-down {
  @media (max-width: #{$bp-xs}) {
    @content;
  }
}
// bp-sm-only deprecated
@mixin bp-sm-down {
  @media (max-width: #{$bp-sm}) {
    @content;
  }
}
@mixin bp-sm-up {
  @media (min-width: #{$bp-sm}) {
    @content;
  }
}
@mixin bp-md-down {
  @media (max-width: #{$bp-md}) {
    @content;
  }
}
@mixin bp-md-up {
  @media (min-width: #{$bp-md}) {
    @content;
  }
}
@mixin bp-lg-alt-down {
  @media (max-width: #{$bp-lg-alt}) {
    @content;
  }
}
@mixin bp-lg-up {
  @media (min-width: #{$bp-lg}) {
    @content;
  }
}

@mixin bg-park-light {
  background: rgba($color-park, 0.25);
}

// z-index

$z-below-nav: 990;
$z-nav: 1000;
$z-dropdown: 1000;
$z-fixed: 1030;
$z-sticky: 1030;
$z-modal-backdrop: 1040;
$z-modal: 1050;
$z-popover: 1060;
$z-tooltip: 1070;

// util

@mixin sticky {
  position: -webkit-sticky;
  position: sticky;
}

// navbar

$navbar-height: 64px;

// draw

@mixin checkmark($size, $color) {
  content: '';
  display: block;
  width: $size;
  height: $size*1.75;
  border-bottom: $size*0.25 $color solid;
  border-right: $size*0.25 $color solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%) rotate(45deg);
}
